* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    /* background-color: transparent; */
    position: sticky; /*WAS RELATIVE*/
    top: 0;
    /* height:320vh; */
}
.NavMenu {
    background-color: #ffe01b;
    position: absolute;
    /* top: 1px; */
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 112px;
    /* justify-content: space-around; */
}
/* .NavMenu-List{
    position: absolute;
    width: 642px; */
    /* display: flex;
    justify-content: space-around; */
    /* top: 0; */
    /* bottom: 0;
    padding: 0 96px 0 64px; */
/* .NavMenu-List{
    width: 642px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
} */
.NavMenu-List ul{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 642px;
    top: 0;
    bottom: 0;
    padding: 0 96px 0 64px;
    font-size: 18px;
}
.NavMenu-List li {
    padding: 12px;
    display: flex;
    align-items: center;
    margin: -1em;
}
.logo {
    position:absolute;
    /* left: 50%; */
    display: flex;
    justify-content: center;
    width: 100vw;
}
.Actions {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    top:0;
    bottom: 0;
}
#heroTextImage {
    padding-top:200px;
    padding-bottom: 60px;
}
.layout {
    /* background-color: #ffe01b; */
    /* position:absolute; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 100rem;
    padding-left:1.8rem;
    padding-right:1.8rem;
    /* height: 424px; */
}
.hero-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.text-container {
    /* position: static; */
    /* width: 50%; */
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    height: 100%;
}
.text-header {
    font-size: 3.8rem;
    text-align:left;
    font-family:'Gentium Plus', serif;
    line-height: 1;
}
.sub-text {
    font-size: 1.5rem;
    letter-spacing: 0;
    font-family: 'PT Sans', sans-serif;
    padding-top: 30px;
}
.buttonRow {
    padding-top: 30px;
}
.signUpButton {
    background-color: #007c89;
    color: white;
    border: 1px solid #007c89;
    padding: 20px 40px;
    font-size: 16px;
}
.link {
    text-decoration: none;
    color:#004e56;
    padding: 15px;
    font-weight: bold;
}
.image img, .firstImage img, .secondImage img, .thirdImage img{
    height: 29rem;
    width: 560px;
}

/* NEW SECTION */
#headliner {
    margin: 120px 0;
}
.headliner-container {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
    font-weight: lighter;
}

/* first NEW SECTION */
.firstRowContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.firstRowContainer {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 75%; */
    /* width: 50%; */
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    /* justify-content: center; */
}
.firstRowText {
    width: 100%;
    padding-left: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.firstRowTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.firstRowTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}
.sellMore {
    margin-top: 40px;
}
.sellMore a{
    text-decoration: none;
    color: #004e56;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

/* second NEW SECTION */
.secondRowContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.secondRowContainer {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 75%; */
    /* width: 50%; */
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    /* justify-content: center; */
}
.secondRowText {
    width: 100%;
    padding-left: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondRowTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.secondRowTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}
.sellMore {
    margin-top: 40px;
}
.sellMore a{
    text-decoration: none;
    color: #004e56;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
/* third NEW SECTION */
.thirdRowContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.thirdRowContainer {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 75%; */
    /* width: 50%; */
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    /* justify-content: center; */
}
.thirdRowText {
    width: 100%;
    padding-left: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thirdRowTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.thirdRowTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}
.link {
    margin-top: 40px;
}
.link a{
    text-decoration: none;
    color: #004e56;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

/* GROW WITH MAILCHIMP SECTION */

#logoGrid {
    padding: 7.5rem 0;
    background-color: #f6f6f4;
}
.logoGridHeader {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.topHeader {
    text-align: center;
    font-size: 3.375rem;
    letter-spacing: -.03125rem;
    margin-bottom: 1.25rem;
}
.lowerHeader {
    font-size: 1.25rem;
    text-align: center;

}
.logoContainer {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.logoRow {
    margin-bottom: 0 !important;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Logo {
    padding: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    
}
.logoImage img{
    max-width: 8.75rem;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.logoMargin {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: center;

}

#pushingForwardHeader {
    padding-top: 7.5rem;
    /* padding-bottom: 7.5rem; */
    background-color: #fbeeca;
}
.pushingForwardHeaderContainer {
    width: 37.5%;
    margin-left: auto;
    margin-right: auto;
}
.pushingForwardHeader {
    font-size: 2rem;
    text-align: center;
}

/* #businessSection {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.businessContainer {
    margin-left: auto;
    margin-right: auto;
}
.businessContent {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;

}
.imageContainer {
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    transform: translate(0);
}
.img4 img{
    width: 50%;
}
.textContainer {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 126px;
}
.textContainerHeader {
    font-size: 2rem;

}
.textContainerHeader2 {
    margin-top: 1.8rem;
}
.textContainerHeader2 {
    font-size: 1em;
}
.buttons {
    margin-top: 3.125rem;
} */

#firstBusinessPart {
    margin-top: 7.5rem;
}
.firstRowBusinessContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.firstRowBusinessContainer {
    width: 100%;
    
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    margin-top: 5rem;
    /* justify-content: center; */

}
.firstRowBusinessText {
    width: 100%;
    padding-right: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.firstRowBusinessTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.firstRowBusinessTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}
.link2 {
    border: 1px solid #b2d7db;
    padding: 20px 30px;
    width: 45%;
    text-align: center;
    margin-top: 40px;
}
.link2 a {
    color: #004e56;
    font-weight: bold;
}

.secondRowBusinessContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.secondRowBusinessContainer {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    /* justify-content: center; */
}
.secondRowBusinessText {
    width: 100%;
    padding-right: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondRowBusinessTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.secondRowBusinessTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}

#planSection {
    background-color: #ffe01b;
}
.layout2 {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.headerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 62.5%;
}
.planHeader {
    font-size: 4.6rem;
    color: #241c15;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}
.underHeader {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.underHeaderContent {
    font-size: 1.5rem;
    margin-top: 1.875rem;
    color: #241c15;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
}
.planContainer {
    margin-top: 1.875rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.planButton {
    color: #fff;
    background-color: #007c89;
    font-size: 1rem;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
}

.footerContainer {
    padding-top: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #efeeea;
}
.relatedLinks {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.relatedLinksList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.relatedLinksList h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 800;
}
.linkContainer {
    margin-bottom: .625rem;
    padding: 0 1rem;
}
.Links {
    font-size: 1rem;
    line-height: 2;
}
.linkClicks {
    cursor: pointer;
    border: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    color: #241c15;
}
.linkContainer a:hover {
    text-decoration: underline;
}
.footerLine {
    background-color: #8c8c8c;
    margin-top: 2rem !important;
    margin-bottom: 3.125rem;
    border: 0;
    width: 100%;
    height: .0625rem;

}
ul {
    list-style: none;
}
.footerProducts {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.footerProductsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.footerColumns {
    margin: 0 30px;
}
.footerColumnHeader {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1;
}
.items {
    margin-bottom: .675rem;
}
.singleLinks {
    color: #241c15;
    font-size: .85rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    padding-left: 0;
    padding-right: 0;

}
.items a {
    text-decoration: none;
}
.topcontent {
    margin-bottom: 4.375rem;
}
.descriptions {
    font-size: .9rem;
    font-weight: 300;
}
.checkItOut {
    margin-top: .75rem;
}
.checkItOutLink {
    font-weight: 500;
    font-size: .85rem;
}
.checkItOutLink{
    cursor: pointer;
    color: #241c15;
}