* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    /* background-color: transparent; */
    position: sticky; /*WAS RELATIVE*/
    top: 1px;
    /* height:320vh; */
}
.NavMenu {
    background-color: transparent;
    position: absolute;
    /* top: 1px; */
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 112px;
    /* justify-content: space-around; */
}
/* .NavMenu-List{
    position: absolute;
    width: 642px; */
    /* display: flex;
    justify-content: space-around; */
    /* top: 0; */
    /* bottom: 0;
    padding: 0 96px 0 64px; */
/* .NavMenu-List{
    width: 642px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
} */
.NavMenu-List ul{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 642px;
    top: 0;
    bottom: 0;
    padding: 0 96px 0 64px;
    font-size: 18px;
}
.NavMenu-List li {
    padding: 12px;
    display: flex;
    align-items: center;
    margin: -1em;
}
.logo {
    position:absolute;
    /* left: 50%; */
    display: flex;
    justify-content: center;
    width: 100vw;
}
.Actions {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    top:0;
    bottom: 0;
}
#heroTextImage {
    padding-top:200px;
    padding-bottom: 60px;
}
.layout {
    /* background-color: #ffe01b; */
    /* position:absolute; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 100rem;
    padding-left:1.8rem;
    padding-right:1.8rem;
    /* height: 424px; */
}
.hero-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.text-container {
    /* position: static; */
    /* width: 50%; */
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    height: 100%;
}
.text-header {
    font-size: 3.8rem;
    text-align:left;
    font-family:'Gentium Plus', serif;
    line-height: 1;
}
.sub-text {
    font-size: 1.5rem;
    letter-spacing: 0;
    font-family: 'PT Sans', sans-serif;
    padding-top: 30px;
}
.buttonRow {
    padding-top: 30px;
}
.signUpButton {
    background-color: #007c89;
    color: white;
    border: 1px solid #007c89;
    padding: 20px 40px;
    font-size: 16px;
}
.link {
    text-decoration: none;
    color:#004e56;
    padding: 15px;
}
.image img, .firstImage img, .secondImage img, .thirdImage img{
    height: 30rem;
    width: 550px;
}

/* NEW SECTION */
#headliner {
    margin: 120px 0;
}
.headliner-container {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
    font-weight: lighter;
}
/* first NEW SECTION */
.firstRowContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.firstRowContainer {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 75%; */
    /* width: 50%; */
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    /* justify-content: center; */
}
.firstRowText {
    width: 100%;
    padding-left: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.firstRowTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.firstRowTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}
.sellMore {
    margin-top: 40px;
}
.sellMore a{
    text-decoration: none;
    color: #004e56;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

/* second NEW SECTION */
.secondRowContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.secondRowContainer {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 75%; */
    /* width: 50%; */
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    /* justify-content: center; */
}
.secondRowText {
    width: 100%;
    padding-left: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondRowTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.secondRowTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}
.sellMore {
    margin-top: 40px;
}
.sellMore a{
    text-decoration: none;
    color: #004e56;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
/* third NEW SECTION */
.thirdRowContent {
    padding-bottom: 60px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.thirdRowContainer {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 75%; */
    /* width: 50%; */
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    /* justify-content: center; */
}
.thirdRowText {
    width: 100%;
    padding-left: 8%;
    /* margin-top:unset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thirdRowTextHeader {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Cardo', serif;
    font-family: 'Gentium Plus', serif;
}
.thirdRowTextBody {
    margin-top: 40px;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
}
.link {
    margin-top: 40px;
}
.link a{
    text-decoration: none;
    color: #004e56;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}